<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8"/>
    <link href="static/css/socialed-style.css" rel="stylesheet" type="text/css"/>
    <title>{% block titulo %}{% endblock %}</title>
    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
</head>
<body>
<div id="container">
    <a href="/">SocialED </a>| <a href="home">Inicio</a> | <a href="login">Acceso </a>| <a href="signup">Registro</a>
    {% block contenido %}{% endblock %}
</div>
<footer>2021</footer>
</body>
</html>