{% extends "base.html" %}
{% block titulo %}
Inicio - SocialED
{% endblock %}
{% block contenido %}
<h1>Hola internauta, Qué tal estás?</h1>
<h2>{{ nickname}}</h2>
<div>
    <form action="processHome" method="post" name="home">
        <label for="message">Escribe algo...</label>
        <div class="inputs">
            {% for message in messages %}
            <li> {{ message[1] }}</li>
            {% endfor %}
        </div>
        <div class="inputs">
            <input id="message" name="message" required="true"
                   placeholder="Aquí tus bellas palabras..." maxlength="128" size="80"
                   type="text" value=""/>
                   <input id="last" name="last" type="hidden" value=""/>
        </div>
        <div class="inputs">
            <input id="post_submit" name="post_submit" type="submit" value="Post!"/>
        </div>
    </form>
</div>
{% endblock %}